<div class='header'>
  <div class="container">
    <div class="logo">
    <a href="{{ site.baseurl }}" style="text-decoration:none" ><h3>Keshav Electricals</h3></a>
      <!--<a href="{{ site.baseurl }}"><img height="{{ site.logo.desktop_height }}" alt="{{ site.title }}" src="{{ site.logo.desktop | relative_url }}" /></a>-->
    </div>
    <div class="logo-mobile">
      <a href="{{ site.baseurl }}" style="text-decoration:none" ><h4>Keshav Electricals</h4></a>
        <!--<img alt="{{ site.title }}" src="{{ site.logo.mobile | relative_url }}" />-->
    </div>
    {% include main-menu.html %}
    {% include hamburger.html %}
  </div>
</div>
